.root-container {
	padding: 1em;
}

.password-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2em;
	max-width: 1000px;

	.header {
		font-weight: bold;
	}

	.customer {
		border-bottom: 4px solid transparent;
	}

	.toggle-password-button {
		width: 80px;
		margin-right: 8px;
	}
}
